$primary-100: #fcdfd2;
$primary-200: #f9b9a7;
$primary-300: #ef8878;
$primary-400: #e05a54;
$primary-500: #cc232b;
$primary-600: #af192e;
$primary-700: #92112e;
$primary-800: #760b2c;
$primary-900: #61062b;

$secondary-100: #d2f7fc;
$secondary-200: #a7ebf9;
$secondary-300: #78d3ef;
$secondary-400: #54b6e0;
$secondary-500: #238fcc;
$secondary-600: #1970af;
$secondary-700: #115492;
$secondary-800: #0b3b76;
$secondary-900: #062a61;

$tertiary-100: #f8e7df;
$tertiary-200: #f1cbc1;
$tertiary-300: #d69e96;
$tertiary-400: #ad6f6c;
$tertiary-500: #773c3f;
$tertiary-600: #662b34;
$tertiary-700: #551e2a;
$tertiary-800: #451323;
$tertiary-900: #390b1e;

$success: #42af21;
$info: #0079c4;
$warning: #b76705;
$error: #e22b40;

$neutral-100: #f4eeeb;
$neutral-200: #eadcd8;
$neutral-300: #c1aeab;
$neutral-400: #847271;
$neutral-500: #332929;
$neutral-600: #2b1d1f;
$neutral-700: #241417;
$neutral-800: #1d0d11;
$neutral-900: #18070d;

$white: #fff;
$black: #000;
