<div class="display">
  <div class="value">
    @if (serialStatus().state === 2) {
    <span class="weight"
      >{{ scale().netWeight * unitFactor() | number: "1.3-3" }}</span
    >
    <span class="unit">{{ unitLabel() }}</span>
    } @else {
    <span class="weight">------</span>
    <span class="unit">desconectado</span>
    }
  </div>

  <div class="tara-status">
    CONEXÃO:
    <app-connection-indicator
      [isConnected]="serialStatus().state === 2"
    ></app-connection-indicator>
  </div>

  @if (serialStatus().state === 2) {
  <div class="details">
    <div>
      Peso Bruto: {{ scale().bruteWeight * unitFactor() | number: "1.3-3" }} {{
      unitLabel() }}
    </div>
    <div>
      Peso líquido: {{ scale().netWeight * unitFactor() | number: "1.3-3" }} {{
      unitLabel() }}
    </div>
    <div>
      Peso Tara: {{ scale().tareWeight * unitFactor() | number: "1.3-3" }} {{
      unitLabel() }}
    </div>
    <div class="tara-status">
      TARA:
      <app-tare-indicator [isTared]="scale().isTared"></app-tare-indicator>
    </div>
    <div class="tara-status">
      EM ZERO:
      <app-tare-indicator
        [isTared]="scale().isOnZero && scale().isStable"
      ></app-tare-indicator>
    </div>
    <div class="tara-status">
      ESTÁVEL:
      <app-stable-indicator
        [isStable]="scale().isStable"
      ></app-stable-indicator>
    </div>
    @if (scale().needsCalibrationAdjustment) {
    <div class="calibration-warning">
      Parâmetros alterados. Necessário novo ajuste de ZERO/SPAN.
    </div>
    } @if (showCells()) {
    <div class="details-group">
      <div>
        Capacidade Máxima: {{ scale().capMax | number: "1.0-3" }} {{ unitLabel()
        }}
      </div>
      <div>
        Resolução: {{ scale().resolution | number: "1.0-6" }} {{ unitLabel() }}
      </div>
    </div>
    }
  </div>

  @if (showCells()) {
  <app-loadcell-grid
    [cells]="loadCells()"
    [maxCells]="scale().numberOfCells"
  ></app-loadcell-grid>
  } }
</div>
