<div class="display">
  <div class="value">
    <span class="weight">{{ scale().netWeight | number: "1.3-3" }}</span>
    <span class="unit">kg</span>
  </div>

  <div class="details">
    <div>Peso Bruto: {{ scale().bruteWeight | number: "1.3-3" }} kg</div>
    <div>Peso líquido: {{ scale().netWeight | number: "1.3-3" }} kg</div>
    <div>Peso Tara: {{ scale().tareWeight | number: "1.3-3" }} kg</div>
    <div class="tara-status">
      TARA: <app-tare-indicator [isTared]="scale().isTared" />
    </div>
  </div>
</div>
