<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <div class="field">
    <label for="username">Username:</label>
    <input
      id="username"
      type="text"
      formControlName="username"
      autocomplete="username"
    />
  </div>
  <div class="field">
    <label for="password">Password:</label>
    <input
      id="password"
      type="password"
      formControlName="password"
      autocomplete="current-password"
    />
  </div>
  <button class="submit" [disabled]="!loginForm.valid" type="submit">
    Entrar
  </button>

  @if (error()) {
    <div class="error">{{ error() }}</div>
  }
</form>
