@use "./styles/fonts" as *;
@use "./styles/colors" as *;
@use "./styles/light-theme.scss" as *;
@use "./styles/dark-theme.scss" as *;

* {
  margin: 0;
  padding: 0;
}
body {
  height: 100%;
  width: 100%;
  background-color: var(--surface-background);
  color: var(--text-primary);
  font-family: $font-body;
  font-size: 16px;
}
