:host {
  display: inline-flex;
  align-items: center;
  gap: 4px;
}
button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: var(--action-primary);
  color: #fff;
  font-size: 16px;

  &:hover {
    background-color: var(--action-primary-hover);
  }
  &:active {
    background-color: var(--action-primary-active);
  }
}

.cal {
  background-color: var(--action-secondary);
  &:hover {
    background-color: var(--action-secondary-hover);
  }
  &:active {
    background-color: var(--action-secondary-active);
  }
}
